<div class="card">
  <h4 class="card-header">Nuevo Turno</h4>
  <div class="card-body">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="form-group mt-3">
        <mat-form-field appearance="fill">
          <mat-label>Vacuna</mat-label>
          <mat-select formControlName="vaccineId">
            <mat-option *ngFor="let vaccine of vaccines" [value]="vaccine.id">
              {{ vaccine.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <p>
          * Recuerde que si aún tiene una vacuna pendiente de aplicar, no podrá
          solicitar un nuevo turno para esa misma vacuna.
        </p>
      </div>
      <div class="form-group">
        <button [disabled]="loading" class="btn btn-primary">
          <span
            *ngIf="loading"
            class="spinner-border spinner-border-sm mr-1"
          ></span>
          Confirmar
        </button>
        <a routerLink="../login" class="btn btn-link">Cancelar</a>
      </div>
    </form>
  </div>
</div>
<div>
  <div class="text-center text-white">
    <img
      class="brand-logo lazy img-fluid mt-2"
      style="border: solid #333 1px"
      alt="stack admin logo"
      src="../../assets/f.jpg"
    />
  </div>
</div>
