<div class="card">
  <h4 class="card-header">Vacunas</h4>
  <div class="card-body">
    <mat-accordion>
      <mat-expansion-panel
        (opened)="panelOpenState = true"
        (closed)="panelOpenState = false"
      >
        <mat-expansion-panel-header class="right-aligned-header">
          <mat-panel-title>Filtros aplicados:</mat-panel-title>
          <mat-panel-description>
            <mat-chip-list aria-label="isActive">
              <mat-chip>{{
                filter.isActive ? "Activas" : "Inactivas"
              }}</mat-chip>
              <mat-chip
                *ngIf="
                  filter.canBeRequested !== undefined &&
                  filter.canBeRequested !== null
                "
                >{{
                  filter.canBeRequested
                    ? "Pueden solicitar turno"
                    : "No pueden solicitar turno"
                }}
              </mat-chip>
              <mat-chip [matTooltip]="filter.name" *ngIf="filter.name"
                >Nombre: {{ filter.name }}</mat-chip
              >
            </mat-chip-list>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <hr />
        <form [formGroup]="formFilter" (ngSubmit)="applyFilter()">
          <div class="form-group">
            <label for="name">Nombre</label>
            <input
              type="text"
              formControlName="name"
              class="form-control"
              [ngClass]="{ 'is-invalid': submitted && f.name.errors }"
            />
          </div>
          <div class="form-group">
            <div class="form-check">
              <input
                formControlName="canBeRequested"
                class="form-check-input"
                type="checkbox"
                name="canBeRequested"
                id="canBeRequested"
              />
              <label class="form-check-label" for="canBeRequested">
                {{
                  formFilter.value.canBeRequested
                    ? "¿Puede solicitarse en turnos? Si"
                    : "¿Puede solicitarse en turnos? No"
                }}
              </label>
            </div>
          </div>
          <div class="form-group">
            <div class="form-check">
              <input
                formControlName="isActive"
                class="form-check-input"
                type="checkbox"
                name="isActive"
                id="isActive"
              />
              <label
                class="form-check-label"
                for="isActive"
                [ngClass]="{ 'text-success': !formFilter.value.isActive }"
              >
                {{ formFilter.value.isActive ? "Activa" : "Inactiva" }}
              </label>
            </div>
          </div>
          <button [disabled]="loading" class="btn btn-primary">
            <span
              *ngIf="loading"
              class="spinner-border spinner-border-sm mr-1"
            ></span>
            Aplicar
          </button>
          <button
            [disabled]="loading"
            class="btn btn-secondary ml-2"
            (click)="clear()"
          >
            <span
              *ngIf="loading"
              class="spinner-border spinner-border-sm mr-1"
            ></span>
            Limpiar
          </button>
        </form>
      </mat-expansion-panel>
    </mat-accordion>
    <div class="table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Nombre</th>
            <th scope="col">Puede solicitarse en turnos</th>
            <th scope="col">Estado</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let v of vaccines">
            <th scope="row">
              {{ v.name }}
            </th>
            <td>{{ v.canBeRequested ? "Si" : "No" }}</td>
            <td>{{ v.isActive ? "Activa" : "Inactiva" }}</td>
            <td>
              <mat-icon
                mat-button
                aria-hidden="false"
                aria-label="Example delete icon"
                role="button"
                color="primary"
                matTooltip="Editar"
                (click)="editVaccine(v)"
                >edit</mat-icon
              >
              <mat-icon
                mat-button
                aria-hidden="false"
                *ngIf="v.isActive"
                aria-label="Example delete icon"
                role="button"
                color="warn"
                matTooltip="Desactivar"
                (click)="deleteVaccineQuestion(v)"
                >cancel</mat-icon
              >
            </td>
          </tr>
        </tbody>
      </table>
      <div class="text-right">
        <button
          type="button"
          (click)="reportVaccinesQuestion()"
          class="btn btn-warning mr-3"
          matTooltip="Reporte de vacunas aplicadas para este mes"
        >
          <i class="fa-solid fa-pie-chart"></i> | Aplicadas del mes
        </button>
        <button
          type="button"
          (click)="reportPatientsQuestion()"
          class="btn btn-warning mr-3"
          matTooltip="Pacientes vacunados por día"
        >
          <i class="fa-solid fa-pie-chart"></i> | Pacientes vacunados
        </button>
        <button
          type="button"
          (click)="addVaccine()"
          class="btn btn-outline-primary"
        >
          Agregar
        </button>
      </div>
    </div>
  </div>
</div>
