<div class="card">
  <h4 class="card-header">
    {{ type == "vacunator" ? "Vacunadores" : "Pacientes" }}
  </h4>
  <div class="card-body">
    <mat-accordion>
      <mat-expansion-panel
        (opened)="panelOpenState = true"
        (closed)="panelOpenState = false"
      >
        <mat-expansion-panel-header class="right-aligned-header">
          <mat-panel-title>Filtros aplicados:</mat-panel-title>
          <mat-panel-description>
            <mat-chip-list aria-label="isActive">
              <mat-chip>{{
                filter.isActive ? "Activos" : "Inactivos"
              }}</mat-chip>
              <mat-chip *ngIf="type == 'patient'"
                >{{
                  filter.belongsToRiskGroup
                    ? "Dentro de grupo de riesgo"
                    : "Fuera de grupo de riesgo"
                }}
              </mat-chip>
              <mat-chip [matTooltip]="filter.fullName" *ngIf="filter.fullName"
                >Nombre: {{ filter.fullName }}</mat-chip
              >
            </mat-chip-list>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <hr />
        <form [formGroup]="formFilter" (ngSubmit)="applyFilter()">
          <div class="form-group">
            <label for="fullName">Nombre completo</label>
            <input
              type="text"
              formControlName="fullName"
              class="form-control"
              [ngClass]="{ 'is-invalid': submitted && f.fullName.errors }"
            />
          </div>
          <div class="form-group" *ngIf="type == 'patient'">
            <div class="form-check">
              <input
                formControlName="belongsToRiskGroup"
                class="form-check-input"
                type="checkbox"
                name="belongsToRiskGroup"
                id="belongsToRiskGroup"
              />
              <label
                class="form-check-label"
                for="belongsToRiskGroup"
                [ngClass]="{
                  'text-success': !formFilter.value.belongsToRiskGroup
                }"
              >
                {{
                  formFilter.value.belongsToRiskGroup
                    ? "¿Es grupo de riesgo? Si"
                    : "¿Es grupo de riesgo? No"
                }}
              </label>
            </div>
          </div>
          <div class="form-group">
            <div class="form-check">
              <input
                formControlName="isActive"
                class="form-check-input"
                type="checkbox"
                name="isActive"
                id="isActive"
              />
              <label
                class="form-check-label"
                for="isActive"
                [ngClass]="{ 'text-success': !formFilter.value.isActive }"
              >
                {{ formFilter.value.isActive ? "Activo" : "Inactivo" }}
              </label>
            </div>
          </div>
          <button [disabled]="loading" class="btn btn-primary">
            <span
              *ngIf="loading"
              class="spinner-border spinner-border-sm mr-1"
            ></span>
            Aplicar
          </button>
          <button
            [disabled]="loading"
            class="btn btn-secondary ml-2"
            (click)="clear()"
          >
            <span
              *ngIf="loading"
              class="spinner-border spinner-border-sm mr-1"
            ></span>
            Limpiar
          </button>
        </form>
      </mat-expansion-panel>
    </mat-accordion>
    <div class="table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Nombre</th>
            <th scope="col">Dirección</th>
            <th scope="col">Telefono</th>
            <th *ngIf="type == 'patient'" scope="col">Grupo de riesgo</th>
            <th scope="col">Estado</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let u of users">
            <th scope="row">
              {{ u.fullName }}
            </th>
            <th scope="row">
              {{ u.address }}
            </th>
            <td>{{ u.phoneNumber }}</td>
            <td *ngIf="type == 'patient'">
              {{ u.belongsToRiskGroup ? "Si" : "No" }}
            </td>
            <td>{{ u.isActive ? "Activo" : "Inactivo" }}</td>
            <td>
              <mat-icon
                mat-button
                aria-hidden="false"
                aria-label="Example delete icon"
                role="button"
                color="primary"
                matTooltip="Editar"
                (click)="editUser(u)"
                >edit</mat-icon
              >
              <mat-icon
                mat-button
                aria-hidden="false"
                *ngIf="u.isActive"
                aria-label="Example delete icon"
                role="button"
                color="warn"
                matTooltip="Desactivar"
                (click)="deleteUserQuestion(u)"
                >cancel</mat-icon
              >
            </td>
          </tr>
        </tbody>
      </table>
      <div class="text-right">
        <button
          type="button"
          (click)="notifyUsers()"
          class="btn btn-warning mr-3"
          *ngIf="type == 'patient'"
        >
          <i class="fa-solid fa-bullhorn"></i> | Notificar
        </button>
        <button type="button" (click)="addUser()" class="btn btn-primary">
          Agregar
        </button>
      </div>
    </div>
  </div>
</div>
