<div class="card">
  <h4 class="card-header">Recuperar contraseña</h4>
  <div class="card-body">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="userName" class="required">Usuario</label>
        <input
          type="text"
          formControlName="userName"
          class="form-control"
          [ngClass]="{ 'is-invalid': submitted && f.userName.errors }"
        />
        <div *ngIf="submitted && f.userName.errors" class="invalid-feedback">
          <div *ngIf="f.userName.errors.required">
            El nombre de usuario es requerido
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="email" class="required">Email</label>
        <input
          type="text"
          formControlName="email"
          class="form-control"
          [ngClass]="{ 'is-invalid': submitted && f.email.errors }"
        />
        <div
          *ngIf="
            f.email.invalid && (submitted || f.email.dirty || f.email.touched)
          "
          class="invalid-feedback"
        >
          <div *ngIf="f.email.errors?.['required']">El email es requerido.</div>
          <div *ngIf="f.email.errors?.['email']">
            El email no tiene el formato correcto.
          </div>
          <div *ngIf="f.email.errors?.['maxlength']">
            El email debe contener menos de 100 caracteres.
          </div>
        </div>
      </div>

      <div class="form-group">
        <button [disabled]="loading" class="btn btn-primary">
          <span
            *ngIf="loading"
            class="spinner-border spinner-border-sm mr-1"
          ></span>
          Resetear clave
        </button>
        <a routerLink="../login" class="btn btn-link">Cancelar</a>
      </div>
    </form>
  </div>
</div>
